@custom-variant dark (&:is(.dark *));

:root {
  --font-size: 16px;
  --background: #ffffff;
  --foreground: #120d31;
  --card: #fcf6fd;
  --card-foreground: #120d31;
  --popover: #fcf6fd;
  --popover-foreground: #120d31;
  --primary: #302f4d;
  --primary-foreground: #f0d3f7;
  --secondary: #b98ea7;
  --secondary-foreground: #120d31;
  --muted: #f9eefc;
  --muted-foreground: #a57982;
  --accent: #f0d3f7;
  --accent-foreground: #302f4d;
  --destructive: #dc2626;
  --destructive-foreground: #ffffff;
  --border: rgba(48, 47, 77, 0.2);
  --input: transparent;
  --input-background: #fcf6fd;
  --switch-background: #f0d3f7;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --ring: #302f4d;
  --chart-1: #302f4d;
  --chart-2: #a57982;
  --chart-3: #b98ea7;
  --chart-4: #f0d3f7;
  --chart-5: #fcf6fd;
  --radius: 0.625rem;
  --sidebar: #fcf6fd;
  --sidebar-foreground: #120d31;
  --sidebar-primary: #302f4d;
  --sidebar-primary-foreground: #f0d3f7;
  --sidebar-accent: #f0d3f7;
  --sidebar-accent-foreground: #302f4d;
  --sidebar-border: #b98ea7;
  --sidebar-ring: #302f4d;
}

.dark {
  --background: #120d31;
  --foreground: #f0d3f7;
  --card: #302f4d;
  --card-foreground: #f0d3f7;
  --popover: #302f4d;
  --popover-foreground: #f0d3f7;
  --primary: #f0d3f7;
  --primary-foreground: #120d31;
  --secondary: #a57982;
  --secondary-foreground: #f0d3f7;
  --muted: #302f4d;
  --muted-foreground: #b98ea7;
  --accent: #b98ea7;
  --accent-foreground: #f0d3f7;
  --destructive: #dc2626;
  --destructive-foreground: #ffffff;
  --border: rgba(240, 211, 247, 0.2);
  --input: rgba(240, 211, 247, 0.1);
  --ring: #f0d3f7;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --chart-1: #f0d3f7;
  --chart-2: #b98ea7;
  --chart-3: #a57982;
  --chart-4: #302f4d;
  --chart-5: #120d31;
  --sidebar: #120d31;
  --sidebar-foreground: #f0d3f7;
  --sidebar-primary: #f0d3f7;
  --sidebar-primary-foreground: #120d31;
  --sidebar-accent: #302f4d;
  --sidebar-accent-foreground: #f0d3f7;
  --sidebar-border: #a57982;
  --sidebar-ring: #f0d3f7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-input-background: var(--input-background);
  --color-switch-background: var(--switch-background);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/**
 * Base typography. This is not applied to elements which have an ancestor with a Tailwind text class.
 */
@layer base {
  :where(:not(:has([class*=" text-"]), :not(:has([class^="text-"])))) {
    h1 {
      font-size: 1.875rem;
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    h2 {
      font-size: 1.5rem;
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    h3 {
      font-size: 1.25rem;
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    h4 {
      font-size: 1rem;
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    p {
      font-size: 1rem;
      font-weight: var(--font-weight-normal);
      line-height: 1.5;
    }

    label {
      font-size: 1rem;
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    button {
      font-size: 1rem;
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    input {
      font-size: 1rem;
      font-weight: var(--font-weight-normal);
      line-height: 1.5;
    }
  }
}

html {
  font-size: var(--font-size);
}
